body{
    display: inline;
    background-color: black;
}
.container {
    display: block;
    overflow: hidden;
    height: 1800px;
    padding-left: 115px;
}
.teks {
    color: #25b9fa;
    width: 235px;
    font-size: 64px;
    margin-left: 459px;
    margin-top: 70px;
}
.logo {
    background-image: url('ijo.jpg');
    width: 355px;
    height: 459px;
    background-size: 355px 459px;
    margin-left: 400px;
}
.materi {
    color: white;
    font-size: 40px;
    width: 510px;
    margin-left: 320px;
    margin-top: 40px;
}
.clas{
    width: 1150px;
    height: 1100px;
    margin-top: 40px;
    font-size: 40px;
    color: white;
}
.tek {
    width: 1000px;
    margin-left: 75px;
}
.ya {
    width: 1050px;
    margin-left: 50px;
}
.yo {
    width: 1050px;
    margin-left: 75px;
}
.hoh {
    width: 1000px;
    margin-left: 75px;
}
.okeh {
    width: 1050px;
    margin-left: 50px;
}
.yoh {
    width: 1050px;
    margin-left: 75px;
}
.div {
    width: 1000px;
    margin-left: 50px;
}
.nav {
    width: 1000px;
    margin-left: 75px;
}
.back {
    margin-top: 50px;
    margin-left: 550px;
}
button{
    width: 243px;
    height: 73px;
    background-color: #636265;
    border-radius: 10px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}